<% lists.each do |list| %>
        <div id="list-<%= list.id %>" class="panel-body panel-body-separator list-task">
            <% if current_user == list.user %>
                <div class="col-xs-1 pull-left text-center checkbox">
                    
                    <div class="text-center nounderline">
                        <%= link_to list_path(id: list.id, request_type: 'toggle_completed'), remote: true, method: :patch do %>
                            <% if list.completed? %>
                                <span class="glyphicon glyphicon-check" title="completed"></span>
                            <% else %>
                                <span class="glyphicon glyphicon-unchecked" title="in progress"></span>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="col-xs-10 entry">
            <% else %>
                <div class="col-xs-12 entry">
            <% end %>
                    <span class="<%= 'completed-task' if list.completed %>">
                    <% if current_user == list.user %>    
                        <%= link_to list, class: 'nounderline' do %>
                          <%= list.title %>
                        <% end %>
                    <% else %>
                        <span><%= list.title %></span>
                    <% end %>
                    </span>
                    <br>
                <%= render partial: 'layouts/timestamp', locals: { type: list } %>
                </div>
            <% if current_user == list.user %>    
                <div id="list-tools-<%= list.id %>" class="col-xs-1 checkbox">
                    <span class="text-center">
                        <%= link_to list, { remote: true, method: :delete, title: 'delete list', data: { confirm: "Are you sure you would like to delete this list?" } } do %>
                            <span class="glyphicon glyphicon-remove text-danger icon-outline"></span>
                        <% end %>
                    </span>
                </div>
            <% end %>
        <div class="completion-bg" data-percentage='<%= completed(list) %>'></div>
        </div>
<% end %>