<% lists.each do |list| %>
        <div id="list-<%= list.id %>" class="panel-body panel-body-separator">
            <% if current_user == user %>
                <div class="col-xs-1 pull-left lead text-center">
                    
                    <div class="text-center nounderline">
                        <%= link_to list_path(id: list.id, request_type: 'toggle_completed'), { remote: true, method: :put } do %>
                            <% if list.completed? %>
                                <span class="glyphicon glyphicon-check" title="completed"></span>
                            <% else %>
                                <span class="glyphicon glyphicon-unchecked" title="in progress"></span>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="col-xs-10 list-entry">
            <% else %>
                <div class="col-xs-11 list-entry">
            <% end %>
            
                <span class="<%= 'completed-task' if list.completed %>">
                    <%= link_to list, class: 'nounderline' do %>
                        <%= list.title %>
                    <% end %>
                </span><br>
                <%= render partial: 'layouts/timestamp', locals: { type: list } %>
            </div>
            <div id="list-tools-<%= list.id %>" class="col-xs-1">
                <span class="text-center">
                    <%= link_to list, { remote: true, method: :delete, title: 'delete list', data: { confirm: "Are you sure you would like to delete this list?" } } do %>
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    <% end %>
                </span>
            </div>
        <div class="completion-bg" style='width:<%= completed(list) %>%;'></div>
        </div>
<% end %>