<div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading clearfix panel-list-heading text-center">
            <div class="col-xs-1">
                <%= link_to (:back || user_lists_path(@user)), class:"back-arrow", title: 'return to lists' do %>
                    <span class="glyphicon glyphicon-chevron-left"></span>
                <% end %>
            </div>
            <div class="col-xs-10 text-center">
                <div id="list-<%= @list.id %>" class="panel-header">
                    <strong><%= @list.title %></strong>
                </div>
            </div>
    <% if current_user == @user %>
            <div class="col-xs-1">
                <%= link_to edit_list_path(@list), class: 'nounderline', title: 'edit list title' do %>
                    <span class="glyphicon glyphicon-edit"></span>
                <% end %>
            </div>
    <% end %>
    <% if current_user != @user %><br>
            <small>author: <%= @user.email %></small>
    <% end %>
        </div>
        <%= render partial: 'items/form', locals: { list: @list } %>
    </div>
<div class="panel">
    <div id="items-quantity" class="panel-heading panel-list-heading">
        <%= @items.size %> items
    </div>
    <div id="items">
        <%= render partial: 'items/items', locals: { user: @user, items: @items } %>
    </div>
</div>
<br>
</div>