<div class="container-fluid">
    <div class="row">
        <div class="panel col-md-10 col-md-offset-1">
            <div class="panel-body">
                <div class="col-xs-12 col-sm-6"><h4>
                    <% if current_user == @user %>
                        <p class="col-xs-12">Let's see what you have accomplished this week</p>
                    <% else %>
                        <p class="col-xs-12">Let's see what <%= @user.email %> has accomplished this week</p>
                    <% end %></h4>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="grey-bg">
                        <div class="panel-body">
                            <%= render partial: 'lists/newlist', locals: { user: @user, list: List.new, type: 'create new ', button: 'Create', autofocus: false } %>
                        </div>
                    </div>
                </div>
            </div>
            
                <div class="panel-body-separator"></div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-6">
                    <div class="panel-heading">
                        <span class="">
                            <%= link_to user_lists_path(@user) do %>
                                Lists
                            <% end %>
                        </span>
                        <span class="small pull-right">completed <%= @completed_lists.size %> of <%= @lists.size %></span>
                    </div>
                    
                    <ul class="list-group">
                        
                    <% @user.completed_lists.take(5).each do | list | %>
                        <li class="list-group-item">
                            <span class="small"><%= list.title %></span>
                        </li>
                    <% end %>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="panel-heading">
                        <span class="">Items
                        </span>
                        <span class="small pull-right">completed <%= @completed_items.size %> of <%= @items.size %></span>
                    </div>
                    
                    <ul class="list-group">
                        
                        <% @user.completed_items.take(10).each do | item | %>
                            <li class="list-group-item">
                                <span class="small"><%= item.body %></span>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>