<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="well panel-default col-md-12">
                <div class="panel-body">
                    <h4>Dashboard for: <%= @user.email %></h4>
                    <p>Let's see what you've accomplished this week</p>
                </div>
                <div class="panel-footer">
                    <% if current_user == @user %>
                        <%= link_to edit_user_registration_path, class: 'text-muted', title: 'edit user info' do %>
                            <span class="glyphicon glyphicon-edit" title="Edit User Info"></span><span class="view-on-hover"> edit info</span>
                        <% end %>
                    <% end %>
                    <div class="panel-body">
                        Create a new list:
                    </div>
                    <div class="panel-body">
                        <%= render partial: 'lists/form', locals: { user: @user, list: @list.new, type: 'new ', button: 'Create List' } %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="well panel-default">
                            <div class="text-center">
                                <% if @user == current_user %>
                                    <%= link_to user_lists_path(@user) do %>
                                        <h4>Lists</h4>
                                    <% end %>
                                <% else %>
                                        <h4>Lists</h4>
                                <% end %>
                            </div>
                            <div class="row panel-footer">
                                <div class="panel-body col-xs-6 col-sm-12">
                                    Completed: <%= @completed_lists.size %>
                                </div>
                                <div class="panel-body col-xs-6 col-sm-12">
                                    Total: <%= @user.lists.size %>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="well panel-default">
                        <div class="text-center">
                            <h4>Tasks</h4>
                        </div>
                        <div class="row panel-footer">
                            <div class="panel-body col-xs-6 col-sm-12">
                                Total: 189
                            </div>
                            <div class="panel-body col-xs-6 col-sm-12">
                                Completed: 123
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>