<div class="container-fluid">
    <div class="user-splash">
        <div class="panel col-md-10 col-md-offset-1">
            <div class="panel-body">
                <div class="col-xs-12 col-sm-6"><h4>
                    <% if current_user == @user %>
                        <p class="col-xs-12">Let's see what you have accomplished this week</p>
                    <% else %>
                        <p class="col-xs-12">Let's see what <%= @user.email %> has accomplished this week</p>
                    <% end %></h4>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="grey-bg">
                        <div class="panel-body">
                            <%= render partial: 'lists/newlist', locals: { user: @user, list: List.new, type: 'create new ', button: 'Create', autofocus: false } %>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="panel-body-separator"></div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-6">
                    <div class="panel-heading">
                        <%= link_to user_lists_path(@user), class: 'btn btn-success pull-right' do %>
                            all lists
                        <% end %>
                        <span class="">
                            Top 5 completed lists<br>
                            <span class="small">completed <%= @completed_lists.size %> of <%= @lists.size %></span>
                        </span>
                        <span class="small pull-right">
                        
                        </span>
                    </div>
                    
                    <ul class="list-group">
                        
                    <% @user.completed_lists.take(5).each do | list | %>
                        <%= link_to list, class: 'nounderline' do %>
                            <li class="list-group-item">
                                <span class="small"><%= list.title %></span>
                            </li>
                        <% end %>
                    <% end %>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="panel-heading">
                        <span class="">Items<br>
                            <span class="small">completed <%= @completed_items.size %> of <%= @items.size %></span>
                        </span>
                    </div>
                    
                    <ul class="list-group">
                        
                        <% @user.completed_items.take(10).each do | item | %>
                            <li class="list-group-item">
                                <span class="small"><%= item.body %></span>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>