<% items.each do |item| %>
        <div id="item-<%= item.id %>" class="panel-body app-item-body panel-body-separator">
            <% if current_user == user %>
                <div class="col-xs-1 pull-left text-center checkbox">
                    
                    <div class="text-center nounderline">
                        <%= link_to item_path(id: item.id, request_type: 'toggle_completed'), remote: true, method: :patch do %>
                            <% if item.completed? %>
                                <span class="glyphicon glyphicon-check" title="uncheck"></span>
                            <% else %>
                                <span class="glyphicon glyphicon-unchecked" title="check-off"></span>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="col-xs-10 entry">
            <% else %>
                <div class="col-xs-11 entry">
            <% end %>
                    <span class="<%= 'completed-task' if item.completed %>">
                        <span class="nounderline">
                            <% if current_user == item.user %>
                            <%= link_to edit_item_path(item) do %>
                                <%= item.body %>
                            <% end %>
                            <% else %>
                                <%= item.body %>
                            <% end %>
                        </span>
                    </span><br>
                    <%= render partial: 'layouts/timestamp', locals: { type: item } %>
                </div>
            <div id="item-tools-<%= item.id %>" class="col-xs-1 checkbox">
                <span class='text-center'>
                    <%= link_to item, { remote: true, method: :delete, title: 'delete task', data: 'deleted' } do %>
                        <span class="glyphicon glyphicon-remove text-danger icon-outline"></span>
                    <% end %>
                </span>
            </div>
        </div>
<% end %>