<span class="<%= 'completed-task' if type.completed %> task-footer">
    <span class="timestamp-footer">
        <% if type.completed %>
            completed on: <%= format_datetime(type) %>
        <% elsif type.created_at == type.updated_at %>
            created on: <%= format_datetime(type) %>
        <% else %>
            updated on: <%= format_datetime(type) %>
        <% end %>
    </span>
    <% if type.is_a?(Item) && !type.completed %>
        <%= expiration(type) %>
    <% end %>
</span>